.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}
.h1-text{
    font-weight: 600;
}
.header-content{
    animation: fadein 3s;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-content{
        max-width: 45%;
    }
}

@media (max-width:750px) {
    .header-content{
        max-width: 55%;
    }
    .header-content p{
        display: none;
    }
    .header-content button{
        padding: 2vw 4vw;
    }
    
}